@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Product Table</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<h1> Code from Git</h1>
	<div class="container">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ProductID</th>
					<th>ProductName</th>
					<th>Quantity</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var product in Model.Products)
				{
					<tr>
						<td>@product.ProductID</td>
						<td>@product.ProductName</td>
						<td>@product.Quantity</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	<!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7"></script>
</body>
</html>


@*<div class="text-center">
    <h1 class="display-4">This is a list of Products</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Product ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var product in Model.Products)
            {
                <tr>
                    <th scope="row">@product.ProductID</th>
                    <td>@product.ProductName</td>
                    <td>@product.Quantity</td>
                </tr>
            }

        </tbody>
    </table>
</div>*@

